.progress-bar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.progress-bar .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  color: #555;
}
.progress-bar .bottom {
  background-color: #ccc;
  height: 0.5rem;
}
.progress-bar .bar {
  background-color: #03a9f5;
  height: 100%;
  width: 90%;
  animation-name: loading1;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

.progress-bar:nth-of-type(2) .bar {
animation-name: loading2;
}

.progress-bar:nth-of-type(3) .bar {
animation-name: loading3;
}

@keyframes loading1 {
 0% {
  width: 0%;
 } 
 100% {
  width: 90%
 }
}

@keyframes loading2 {
 0% {
  width: 0%;
 } 
 100% {
  width: 87%
 }
}

@keyframes loading3 {
 0% {
  width: 0%;
 } 
 100% {
  width: 15%
 }
}